
html,body{
    -webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
font-smooth: never !important;
}
.border-b-half {
    border-bottom-width: 50%;
}


.instructor-custom-background {
    /* background-image: url('../assets/home/instructor-bg-top-right.png'), url('../assets/home/instructor-bg-bottom-left.png');
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: 35% 35%; */
    position: relative;
  
  }
.best-content-custom-background {
    position: relative;
    /* background-image: url('../assets/home/top-right-bg.png'), url('../assets/home/bottom-left-bg.png');
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: 35% 35%; */
    
  }


  .instructor-custom-background::before, .instructor-custom-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-size: 50%; Adjust size as needed */
    opacity: 0.45; /* Adjust opacity as needed */
    z-index: -1;
  }

  .instructor-custom-background::before {
    background-image: url('../assets/home/instructor-bg-top-right.png');
    background-position: top right;
    background-size: 54%;
  }

  .instructor-custom-background::after {
    background-image: url('../assets/home/instructor-bg-bottom-left.png');
    background-position: bottom left;
    background-size: 18%;
  }

   
  .best-content-custom-background::before, .best-content-custom-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-size: 50%; Adjust size as needed */
    opacity: 0.45; /* Adjust opacity as needed */
    z-index: -1;
  }

  .best-content-custom-background::before {
    background-image: url('../assets/home/top-right-bg.png');
    background-position: top right;
    background-size: 16%;
  }

  .best-content-custom-background::after {
    background-image: url('../assets/home/bottom-left-bg.png');
    background-position: bottom left;
    background-size: 16%;
  }

  @media (max-width: 600px) {
    #instructor-slick-slider .slick-slide {
        width: 150px !important;
    }
      #mobile-slick-slider .slick-slide {
        width: 200px !important;
    }

  }
  @media (max-width: 768px) {
    #instructor-slick-slider .slick-slide {
        width: 190px !important;
    }
      #mobile-slick-slider .slick-slide {
        width: 200px !important;
    }

  }


/* .blockquote-custom::before {
    content: open-quote;
    color: #FFC226; /* Change this color as needed */
    /* font-size: 2.3em; Adjust the size as necessary */
/* } */

/* .blockquote-custom::after {
    content: close-quote;
    color: #FFC226; /* Change this color as needed */
    /* font-size: 2.3em; Adjust the size as necessary */
/* }   */
.blockquote-custom::before, .blockquote-custom::after {
    color: #FFC226; /* Change this color as needed */
    font-size: 2em; /* Adjust the size as necessary */
    font-family: "Times New Roman", serif; /* Choose a font that has stylish quotes */
}

.blockquote-custom::before {
    content: "“"; /* Curvy opening quote */
}

.blockquote-custom::after {
    content: "”"; /* Curvy closing quote */
}
